[data-sticky*='yes'],
[data-sticky*='fixed'] {
  position: fixed;
  z-index: 5;
  top: calc( var(--admin-bar, 0px) + var(--theme-frame-size, 0px) + var(--header-sticky-offset, 0px));
  left: var(--theme-frame-size, 0px);
  right: calc(var(--theme-frame-size, 0px) + var(--scrollbar-width, 0px));
}

[data-sticky*='slide'][data-sticky*='yes-start'] {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

[data-sticky*='slide'][data-sticky*='yes-end'] {
  -webkit-transition: -webkit-transform var(--header-sticky-animation-speed, 0.2s) cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: -webkit-transform var(--header-sticky-animation-speed, 0.2s) cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: transform var(--header-sticky-animation-speed, 0.2s) cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: transform var(--header-sticky-animation-speed, 0.2s) cubic-bezier(0.455, 0.03, 0.515, 0.955), -webkit-transform var(--header-sticky-animation-speed, 0.2s) cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

[data-sticky*='slide'][data-sticky*='yes-hide-start'] {
  -webkit-transform: none;
          transform: none;
}

[data-sticky*='slide'][data-sticky*='yes-hide-end'] {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: -webkit-transform var(--header-sticky-animation-speed, 0.2s) cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: -webkit-transform var(--header-sticky-animation-speed, 0.2s) cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: transform var(--header-sticky-animation-speed, 0.2s) cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: transform var(--header-sticky-animation-speed, 0.2s) cubic-bezier(0.455, 0.03, 0.515, 0.955), -webkit-transform var(--header-sticky-animation-speed, 0.2s) cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

[data-sticky*='fade'][data-sticky*='yes-start'] {
  opacity: 0;
}

[data-sticky*='fade'][data-sticky*='yes-end'] {
  -webkit-transition: opacity var(--header-sticky-animation-speed, 0.2s) cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: opacity var(--header-sticky-animation-speed, 0.2s) cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

[data-sticky*='fade'][data-sticky*='yes-hide-start'] {
  opacity: 1;
}

[data-sticky*='fade'][data-sticky*='yes-hide-end'] {
  opacity: 0;
  -webkit-transition: opacity var(--header-sticky-animation-speed, 0.2s) cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: opacity var(--header-sticky-animation-speed, 0.2s) cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

[data-sticky],
[data-sticky] [data-row],
[data-sticky] [data-row*='boxed'] > div {
  -webkit-transition: background-color var(--header-sticky-animation-speed, 0.2s) cubic-bezier(0.455, 0.03, 0.515, 0.955), -webkit-box-shadow var(--header-sticky-animation-speed, 0.2s) cubic-bezier(0.455, 0.03, 0.515, 0.955), -webkit-backdrop-filter var(--header-sticky-animation-speed, 0.2s) cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: background-color var(--header-sticky-animation-speed, 0.2s) cubic-bezier(0.455, 0.03, 0.515, 0.955), -webkit-box-shadow var(--header-sticky-animation-speed, 0.2s) cubic-bezier(0.455, 0.03, 0.515, 0.955), -webkit-backdrop-filter var(--header-sticky-animation-speed, 0.2s) cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: box-shadow var(--header-sticky-animation-speed, 0.2s) cubic-bezier(0.455, 0.03, 0.515, 0.955), backdrop-filter var(--header-sticky-animation-speed, 0.2s) cubic-bezier(0.455, 0.03, 0.515, 0.955), background-color var(--header-sticky-animation-speed, 0.2s) cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: box-shadow var(--header-sticky-animation-speed, 0.2s) cubic-bezier(0.455, 0.03, 0.515, 0.955), backdrop-filter var(--header-sticky-animation-speed, 0.2s) cubic-bezier(0.455, 0.03, 0.515, 0.955), background-color var(--header-sticky-animation-speed, 0.2s) cubic-bezier(0.455, 0.03, 0.515, 0.955), -webkit-box-shadow var(--header-sticky-animation-speed, 0.2s) cubic-bezier(0.455, 0.03, 0.515, 0.955), -webkit-backdrop-filter var(--header-sticky-animation-speed, 0.2s) cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

[data-sticky] .ct-header-text,
[data-sticky] .site-description {
  -webkit-transition: color 0.12s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: color 0.12s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
/*# sourceMappingURL=sticky-state.css.map */