.ct-radio-option input[type="radio"] {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16px;
          flex: 0 0 16px;
  width: 16px;
  height: 16px;
  margin: 0;
  -webkit-margin-end: 8px;
          margin-inline-end: 8px;
  border: 2px solid #c3c7ca;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.ct-radio-option input[type="radio"]:checked {
  border-color: var(--ui-accent-color);
  background: var(--ui-accent-color);
}

.ct-radio-option input[type="radio"]:checked:before {
  content: '';
  width: 6px;
  height: 6px;
  margin: 3px;
  background: #fff;
}

.ct-radio-option label:hover input[type="radio"]:not(:checked) {
  border-color: var(--ui-accent-color);
}

.ct-radio-option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
}

.ct-radio-option label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.ct-radio-option:not([data-inline]):not([data-columns]) label:not(:last-child) {
  margin-bottom: 10px;
}

.ct-radio-option[data-inline] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: -10px;
}

.ct-radio-option[data-inline] label {
  padding-top: 10px;
}

.ct-radio-option[data-inline] label:not(:last-child) {
  -webkit-margin-end: 15px;
          margin-inline-end: 15px;
}

.ct-radio-option[data-columns="2"] {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}

.ct-radio-option[data-columns="3"] {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}

.ct-radio-option[data-radio-text="small"] li {
  font-size: 12px;
}

.ct-radio-option[data-type*="alignment"] li {
  font-family: dashicons;
  font-size: 16px;
}

.ct-radio-option[data-type*="alignment"] li:first-child:before {
  content: "\f138";
}

.ct-radio-option[data-type*="alignment"] li:nth-child(2):before {
  content: "\f134";
}

.ct-radio-option[data-type*="alignment"] li:last-child:before {
  content: "\f138";
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.ct-radio-option[data-type="vertical-alignment"] li:before {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.ct-radio-option[data-type="vertical-alignment"] li:last-child:before {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.ct-radio-option[data-type="repeat"] li:not(.active) {
  color: #5c5c5c;
}

.ct-radio-option[data-type="repeat"] li svg {
  width: 13px;
  height: 13px;
  fill: currentColor;
}
/*# sourceMappingURL=radio.css.map */